.BlockTitle {
  margin-left: 70px;
  margin-right: 70px;
  border-bottom: 1px solid #dadada;
  padding-top: 60px;
}

@media screen and (max-width: 1095px) {
  .BlockTitle {
    margin-left: 50px;
    margin-right: 50px;
  }
}

@media screen and (max-width: 595px) {
  .BlockTitle {
    margin-left: 14px;
    margin-right: 14px;
    padding-top: 35px;
  }
}

.BlockTitle__title {
  margin: 0;
  padding: 0;
  color: #ffffff;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.2;
  font-style: normal;
  padding-bottom: 23px;
}

@media screen and (max-width: 595px) {
  .BlockTitle__title {
    font-size: 18px;
    padding-bottom: 28px;
  }
}
